requests
setuptools
cryptography
pycryptodome
pycryptodomex
pyarrow<8.1.0,>=8.0.0
wheel
pandas
python-dotenv
streamlit==1.9.0
matplotlib
supabase
plotly
seaborn
researchpy
sklearn
streamlit_option_menu
scipy
protobuf==3.20









